.App {
  text-align: center;
  height:100vh;
  width:100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 50vh;
  min-width: 50vw;
  flex-direction:column;
  gap: 2vh;
}

.buttons { 
  display:flex;
  gap: 2vw;
}

.map {
  position: absolute;
  bottom: 17vh;
  right: 12vw;
  z-index: 1;
}

.leaflet-container:hover {
  height: 35vh;
  width: 35vw;
}

.leaflet-container {
  height: 24vh;
  width: 24vw;
  transition: .6s ease;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
